
<%= form_for(@enrolment) do |f| %>
  <div class="row justify-content-md-center">
    <div class="col-md-4 ">
      <fieldset class="border p-2">
        <legend  class="float-none w-auto">Enrolment</legend>


        <%# Enrolment Input %>

        <div class = "form-group  pb-2">
          <%= f.select :teaching_id, Teaching.all.map { |teaching| ["#{teaching.subject_info} ", teaching.id] } %>	
        </div>
        <div class="form-actions text-center">
          <%= f.submit "Enrol", class: "btn btn-primary" %>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
